@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-medium;
}

.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #888;
  position: absolute;
  top: 0;
  left: 0;
}
